/*base*/
$color_white: #FFFFFF;
$color_green: #265048;
$color_light_blue: #499A89;
$color_text: #022A38;
$color_gray: #8C9495;
$color_text_gray: #D8D8D8;

$color_dark_blue: #142A4A;
$color_btn: #023837;

$color_text_gray_2: #606368;

$color_offer: #38776B;
$color_bg_terminal: #226151;

$color_footer: #96C6BC;
$color_gray_footer: #525252;
$color_menu_hover: #00C0BC;

/*table*/
$color_table_head: #F3FFFF;
$color_table_row_odd:#E7FFEF;
$color_table_row_even: #C8FFDB;
$color_text_table_head: #606868;
$color_up: #A7E7AA;
$color_down: #FFC3C3;
